name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:       # allows manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Platane/snk@master
        with:
          github_user_name: RazaJavaid2004
          outputs: dist/snake.svg
      - uses: EndBug/add-and-commit@v7
        with:
          add: "dist/snake.svg"
          message: "Generated snake animation"
